openapi: 3.0.3
info:
  title: Sample Title
  description: Description about this API Collection
  termsOfService: https://www.google.co.in/
  contact:
    name: deepak
    url: https://www.google.co.in/
    email: deepakpalakkal795@gmail.com
  license:
    name: license_1
    url: https://www.google.co.in/
  version: 0.0.1
servers:
  - url: https://www.google.com/
    description: testing url
  - url: https://www.google.co.in/
    description: staging url
  - url: https://www.google.co.in/
    description: pre-prod url
  - url: https://www.{username}.com:{port}/{version}
    description: test url
    variables:
      username:
        default: demo
        description: host name
      port:
        enum:
          - "8443"
          - "80"
        default: "8443"
      version:
        default: v1
paths:
  /catagories:
    get:
      summary: List of catefories
      description: Return list of categories
      parameters:
        - name: categoryId
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 200
          example: 101
      responses:
        "200":
          description: A list of categories
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryId:
                      type: integer
                    name:
                      type: string
  /catagories/{catagoryId}:
    get:
      summary: Information about one category
      parameters:
        - name: catagoryId
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
            maximum: 200
          example: 101
      description: Return information about one category
      responses:
        "200":
          description: Information about one category
          content:
            application/json:
              schema:
                type: object
                properties:
                  categoryId:
                    type: integer
                  name:
                    type: string
